.lottie-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 50px;
}

.lottie-loader-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottie-center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    pointer-events: none;
}

.lottie-center-image img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}